<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>VRSEC</title>
</head>
<body>
<div class="main">
    <div class="heading"> 
        <h1 class="heading1">Student Registration Form</h1>
    </div>
   
    <div>
 <form action="/read" method="post">
    <div class="NAMEINPUT">
     <label for="NAME">ENTER YOUR NAME:</label>
      <br>
     <input type="text" class="NAME" placeholder="NAME" name="name" required>
     </div>
     <br>
    <div class="ROLLINPUT">
     <label for="ROLL">ENTER YOUR ROLL NUMBER:</label>
      <br>
     <input type="text" class="ROLL" placeholder="Roll Number" name="roll" required>
    </div>
    <br>
    
    <br>
    <div class="GENDER">
     <input type="radio" id="male" name="gender" value="MALE">
     <label for="male">MALE</label>
     <br>
     <input type="radio" id="female" name="gender" value="FEMALE">
     <label for="male">FEMALE</label>
    </div>
    <br>
    <div class="submit_button">
      <input type="submit" class="SUBMIT">
    </div>
    <br>
     </form>
    </div>
</div>
</body>
</html>