<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/read" method="post">
      <label for="name">Enter your name : </label>
      <br>
      <input type="text" placeholder="Enter your name" id="name" name="name">
      
      <br>
      <label for="name">Enter your roll number : </label>
      <br>
      <input type="text" placeholder="Enter your roll number" id="roll" name="roll">
      
      <br>
      <label for="name">Enter your department : </label>
      <br>
      <input type="text" placeholder="Enter your name" id="dept" name="dept">
      
      <br>
      <input type="submit">
    </form>
</body>
</html>